<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col"></th>
        <th scope="col">Destino</th>
        <th scope="col">Tipo</th>
        <th scope="col">Data de chegada</th>
        <th scope="col">Data de saída</th>
        <th></th><th></th><th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

        <th scope="row">1</th>

        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><button type="button" class="btn btn-primary btn-sm botaoExcluir" >Excluir</button></td>


    </tbody>
    <td><button [routerLink]="['']" type="button" class="btn btn-primary btn-sm voltar">Voltar</button></td>
  </table>
</div>

