
<div class="container quadrado">
  <br><br><br>
  <a class="navbar-brand">Minhas Viagens</a>
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col"></th>
        <th scope="col">Destino</th>
        <th scope="col">Tipo</th>
        <th scope="col">Data de chegada</th>
        <th scope="col">Data de saída</th>
        <th></th><th></th><th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row" id="1">1</th>

        <td>Maldivas</td>
        <td>LAZER</td>
        <td>15/12/2021</td>
        <td>20/12/2021</td>
        <td><button [routerLink]="['/listar/detalhar']" type="button" class="btn btn-primary btn-sm botaoDetalhes">Detalhes</button></td>
        <td><button [routerLink]="['/listar/excluir']" type="button" class="btn btn-primary btn-sm botaoExcluir" >Excluir</button></td>
        <th></th><th></th><th></th>

      </tr>
      <tr>
        <th scope="row" id="2">2</th>
        <td>Miami</td>
        <td>LAZER</td>
        <td>15/02/2021</td>
        <td>18/02/2021</td>
        <td><button [routerLink]="['/listar/detalhar']" type="button" class="btn btn-primary btn-sm botaoDetalhes">Detalhes</button></td>
        <td><button [routerLink]="['/listar/excluir']" type="button" class="btn btn-primary btn-sm botaoExcluir" >Excluir</button></td>
        <th></th><th></th><th></th>


      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Tókio</td>
        <td>LAZER</td>
        <td>02/10/2021</td>
        <td>20/10/2021</td>
        <td><button [routerLink]="['/listar/detalhar']" type="button" class="btn btn-primary btn-sm botaoDetalhes">Detalhes</button></td>
        <td><button [routerLink]="['/listar/excluir']" type="button" class="btn btn-primary btn-sm botaoExcluir" >Excluir</button></td>
        <th></th><th></th><th></th>

      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Paris</td>
        <td>LAZER</td>
        <td>10/03/2023</td>
        <td>17/05/2023</td>


        <td><button [routerLink]="['/listar/detalhar']" type="button" class="btn btn-primary btn-sm botaoDetalhes">Detalhes</button></td>
        <td><button [routerLink]="['/listar/excluir']" type="button" class="btn btn-primary btn-sm botaoExcluir" >Excluir</button></td>
        <th></th><th></th><th></th>

      </tr>

    </tbody>
  </table>
</div>
